# Ignore artifacts
dist
node_modules

# Ignore build files
build

# Ignore coverage reports
coverage

# Ignore generated config/theme files
public/config.json
public/theme-*.json

# Ignore other files
.github
.husky
.vscode
*.lock
*.log
*.md
