name: Deploy

on:
  workflow_run:
    workflows: [Build]
    types:
      - completed

jobs:
  deploy_dev:
    runs-on: ubuntu-latest
    environment: 'dev'
    steps:
      - uses: actions/checkout@v4
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4
        with:
          run-id: ${{ github.event.workflow_run.id }}
          name: build
          path: build
          github-token: ${{ secrets.GITHUB_TOKEN }}
      # - name: Copy favicon
      #   run: cp .github/environments/nsr-d.ico build/favicon.ico
      - name: Copy config for this environment
        run: cp .github/environments/config-dev.json build/config.json
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_ENT_HATHOR_DEV }}'
          channelId: live
          projectId: ent-hathor-dev
          target: dev


